
/*主要内容*/
#main{
	width: 1140px;
	margin: 0 auto;
}
#main .list_title{
	margin: 10px 0;
}
#main .list_xz{
	text-decoration: underline;
	color: #2c3e50;
}
#main .last{
	text-align: center;
}
#main .last a{
	border: 1px solid #AAAAAA;
	margin-left: 5px;
}
#main .title{
	font-size: 24px;
	text-align: center;
	margin:60px 0;
}
#main ul{
	overflow: hidden;
	margin-bottom: 82px;
}

#main li{
	font-size: 18px;
	color: #292929;
	height: 670px;
	width: 360px;
	float: left;
	margin-right: 30px;
}
#main li.no_margin{
	margin-right: 0;
}
#main li img{
	width: 360px;
	height: 670px;
}
