/*主题列表*/
#main_list{
	width: 1140px;
	margin: 0 auto;
}
#main_list .list_xz{
	text-decoration: underline;
	color: #2c3e50;
}
#main_list img{
	width: 25px;
	height: 25px;
}
#main_list p{
	border-bottom: 1px solid #aaaaaa;
	padding: 16px 0;
	width: 1140px;
}
#main_list p.list_title{
	border:0;
	margin-top: 10px;
	margin-bottom: 30px;
}
#main_list p.list_last{
	border:0;
	margin-bottom: 30px;
}
#main_list a{
	color: #2b2b2b;
	margin-left: 5px;
	margin-right: 52px;
	padding: 2px 6px;
	font-size: 16px;
}
#main_list a.title{
	font-weight: bolder;
}
#main_list a:hover{
	background-color: #2c3e50;
	color: #FFFFFF;
}
/*官方定制*/
#official{
	width: 1200px;
	margin: 0 auto;
	text-align: center;

}
#official .title{
	font-size: 24px;
	text-align: center;
	margin-bottom: 60px;
}
#official ul{
	width: 1140px;
	margin: 0 auto;
}
#official ul{
		overflow: hidden;
}
#official li.no_margin{
	margin-right: 0;
}
#official li{
	float: left;
	text-align: center;
	width: 360px;
	height: 520px;
	margin-right:30px;
	margin-bottom: 30px;
}
#official li img{
    width: 360px;
    height: 520px;	
}
#official .last{
	margin-top: 100px;
	margin-bottom: 100px;
}
#official .last a{
	border: 1px solid #2b2b2b;
	margin-left: 5px;
	padding: 2px 6px;
}
#official .last a{
	border: 1px solid #AAAAAA;
	margin-left: 5px;
}
#official .person{
	width: 1140px;
	margin: 0 auto 100px;
}
